html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.d-none {
    display: none !important;
}

h3 {
    font-size: 20px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

header > img {
    width: 100px;
    height: 100px;
    margin: 24px 16px 32px 0;
}

#searchSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
}

input#searchPokemonInput {
    width: 200px;
    height: 40px;
    border-radius: 20px;
    line-height: 18px;
    padding-left: 12px;
    margin-bottom: 16px;
}

input#searchPokemonInput:focus {
    border: 1px solid lightgray;
}

#buttons {
    display: flex;
    justify-content: center;
    gap: 42px;
}

input:hover,
button:hover {
    cursor: pointer;
}

#searchPokemon,
#resetSearch {
    height: 40px;
    border-radius: 20px;
    border: 1px solid lightgray;
}

/*##### Mainsection #####*/
#mainSection {
    width: 100%;
    display: flex;
}

#pokedex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: transparent;
}

#pokedex div {
    display: flex;
}

.pokeCard {
    width: 240px;
    height: 240px;
    background-color: #F66C6D;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding-top: 16px;
    margin: 0 32px 32px 0;
}

.pokeCard:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.pokemonType {
    width: 80%;
    display: flex;
    gap: 24px;
}

.pokemonType > div > p {
    border: 1px solid white;
    padding: 4px 8px;
    border-radius: 8px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.pokemonType > div > p:first-child {
    margin-right: 16px;
}

#pokemonName {
    margin-block-start: 0;
    margin-block-end: 0;
}

.smallPokemonImage {
    height: 147px;
    width: auto;
    z-index: 2;
}

.pokeCardTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-bottom: 4px;
}

.pokeCardBottom {
    height: 80px;
    width: 100%;
    background-color: white;
    margin-top: -24px;
    border-radius: 20px 20px 10px 10px;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/*##### Overlay Pokémon Information #####*/
#pokemonInfoOverlay {
    background-color: black;
    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    z-index: 2;
}

.bigPokeCard {
    width: 600px;
    height: 800px;
    background-color: #F66C6D !important;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding-top: 16px;
    margin: 0 32px 32px 0;
}

.bigPokeCardTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-bottom: 4px;
}

.bigPokeCardTop > h2,
.bigPokeCardTop > div {
    font-size: 36px!important;
}

.bigPokemonImage {
    height: 300px;
    width: auto;
    z-index: 2;
}

.bigPokeCardBottom {
    height: 450px;
    width: 100%;
    background-color: white;
    border-radius: 20px 20px 10px 10px;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding-top: 25px;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
}

#aboutHeader {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15%;
}

.arrowButton {
    height: 40px;
    width: 40px;
}

.arrowButton:hover {
    cursor: pointer;
}

#aboutWrapper {
    width: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50%;
}

#stats {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.close-btn {
    width: 40px;
    height: 40px;
}

.close-btn:hover {
    cursor: pointer;
}