.normal {
    background-color: #F66C6D !important;
}

.fire {
    background-color: #FF7F5E !important;
}

.water {
    background-color: #63B3FF !important;
}

.electric {
    background-color: #FFD700 !important;
}

.grass {
    background-color: #81C784 !important;
}

.ice {
    background-color: #97D9D9 !important;
}

.fighting {
    background-color: #C74040 !important;
}

.poison {
    background-color: #A065FC !important;
}

.ground {
    background-color: #C2A18C !important;
}

.flying {
    background-color: #87CEEB !important;
}

.psychic {
    background-color: #F48FB3 !important;
}

.bug {
    background-color: #B0C04E !important;
}

.rock {
    background-color: #8C8B8A !important;
}

.ghost {
    background-color: #8080BE !important;
}

.dragon {
    background-color: #5C41C9 !important;
}

.dark {
    background-color: #6B5451 !important;
}

.steel {
    background-color: #B7B7B7 !important;
}

.fairy {
    background-color: #FFC8C8 !important;
}